@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

$font: 15px 'Montserrat', sans-serif;

$linear:linear-gradient(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));

$pri: hsl(240, 78%, 98%);
$sec: hsl(233, 13%, 49%);
$pri-accent: hsl(234, 14%, 74%);
$sec-accent: hsl(232, 13%, 33%);

$bg:rgb(247,247,255);